# Dependencies
node_modules/
*/node_modules/
package-lock.json.backup

# Expo
.expo/
*/.expo/
dist/
web-build/
expo-env.d.ts

# Native / Builds
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android
mobile/ios
mobile/android

# Metro & Bundlers
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files
.DS_Store
Thumbs.db
*.pem

# Local env files
.env
.env*.local
*.env

# TypeScript
*.tsbuildinfo

# IDE
.idea/
